.btn {
	@extend %center;
	@extend %description-16;
	cursor: pointer;

	&-primary {
		height: 50px;
		border-radius: 25px;
		color: $clr-white;
		background: $clr-gradient;
		box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.15);

		&:hover {
			background: $clr-gradient-light;
			box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.3);
			transform: scale(1.05);
		}

		transition: all 0.4s ease;
	}
}
