$clr-black: #1a1a1a;
$clr-white: #f9f0e5;
$clr-gray: #868997;
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-accent: #99e2d0;

$font-roboto: "Roboto", sans-serif;
$font-shrikland: "Shrikhand", cursive;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
