$clr-black: #101010;
$clr-white: #ffffff;
$clr-gray: #eaeaea;
$clr-gray100: #f6f6f6;
$clr-gray500: #7e7e7e;
$clr-gray700: #353535;
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-accent: #99e2d0;
$clr-accent-text: #008766;

$clr-gradient: linear-gradient(to right bottom, $clr-secondary, $clr-primary);

$font-roboto: "Roboto", sans-serif;
$font-shrikland: "Shrikhand", cursive;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
