%title-18 {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	padding-bottom: 0.9rem;
	font-family: $font-roboto;
}
%title-24 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.24;
	font-family: $font-roboto;
}
%title-28 {
	font-size: 2.8rem;
	line-height: 1;
	font-family: $font-shrikland;
}
