.dessert {
	&__title {
		@extend %title-18;
	}

	&__list {
		margin-bottom: 5rem;

		@include media(">=phone") {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			justify-content: space-around;
		}
	}
}
